body {
            margin-left:auto;
            margin-right:auto;
            background-color:#a66b2d;}
            
.audio
        {
display:none;}
			

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
 

}
   
